
.todoItem{
    display: flex;
justify-content: space-between;
flex-direction: row;

}
#span{
    margin: 4px;
    color: gray;
}
.blue__button{
    background-color: blue;
    color: white;
    border-radius: 2px;
    margin: 2px;
    border-color: blue;
}
.red__button{
    background-color: red;
    color: white;
    border-radius: 2px;
    margin: 2px;
    border-color: red;
}
.green__button{
    background-color: green;
    color: white;
    border-radius: 2px;
    margin: 2px;
    border-color: green;
}
.yellow__button{
    background-color: rgba(255, 255, 0, 0.671);
    color: white;
    border-radius: 2px;
    margin: 2px;
    border-color: yellow;
}
.todo_item-text{
    display: flex;
   gap: 20px;
   font-family: "Fira Sans", sans-serif;
   font-size: larger;
}
.todo_item-buttons{
    display: flex;
    justify-content: right;
    margin-right: 5%;
}